@use "../abstracts/breakpoints" as *;
.footer {
  background-color: var(--clr-primary-700);
  color: var(--clr-primary-400);

  &__nav {
    @include breakpoint(large) {
      align-items: flex-start;
    }
    ul {
      li {
        position: relative;
        a {
          color: inherit;

          &::before {
            content: "";
            position: absolute;
            inset: auto 50% -0.75rem 50%;
            transition: transform 500ms ease-out;
          }
          &:hover {
            &::before {
              transform: scaleX(7);
              border: 2px solid var(--clr-primary-400);
            }
          }
        }
      }
    }
  }

  &__socmed {
    ul {
      display: flex;
      justify-content: center;
      gap: 1.5em;

      li {
        position: relative;
        a {
          &::before {
            content: "";
            position: absolute;
            inset: auto 0.5em -0.75em 0.5em;

            transition: transform 500ms ease-out;
          }
          &:hover {
            &::before {
              transform: scaleX(6);
              border: 2px solid var(--clr-primary-400);
            }
          }
        }
      }
    }
    small {
      color: var(--clr-primary-500);
      text-align: center;
    }
    @include breakpoint(large) {
      align-items: flex-end;
    }
    div {
      text-align: center;
      @include breakpoint(large) {
        padding-block: var(--padding-md);
      }
    }
  }
}
