$size: (
  h1: Clamp(2rem, 10vw + 1rem, 5rem),
  h2: Clamp(1.75rem, 10vw + 1rem, 3rem),
  h3: Clamp(1.5rem, 10vw + 1rem, 2.5rem),
  h4: Clamp(1.5rem, 10vw + 1rem, 2.5rem),
  h5: Clamp(1.5rem, 10vw + 1rem, 2.5rem),
  h6: Clamp(1.25rem, 10vw + 1rem, 2.5rem),
  p: Clamp(0.75rem, 1vw + 1rem, 1rem),
  a: Clamp(0.75rem, 10vw + 1rem, 1.25rem),
  button: Clamp(0.75rem, 10vw + 1rem, 1rem),
  // small: (
  //   h1: 2.5rem,
  //   h2: 2rem,
  //   h3: 4rem,
  //   h4: 1.2rem,
  //   p: 1.2rem,
  //   a: 1.5rem,
  // ),
  // large: (
  //   h1: 5rem,
  //   h2: 2.5rem,
  //   h3: 5rem,
  //   h4: 2rem,
  //   p: 1.5rem,
  //   a: 1rem,
  // ),,,,,,,,,,,,,
);

$weight: (
  primary: (
    500: 500,
    600: 600,
    700: 700,
  ),
  accent: (
    500: 500,
    600: 600,
    700: 700,
  ),
);
