$size: (
  h1: Clamp(1rem, 6.5vw + 1rem, 5rem),
  h2: Clamp(3rem, 10vw + 1rem, 3rem),
  h3: Clamp(3rem, 10vw + 1rem, 3rem),
  p: Clamp(1.5rem, 1vw + 1rem, 1.5rem),
  a: Clamp(1rem, 10vw + 1rem, 1.25rem),
  button: Clamp(1.25rem, 10vw + 1rem, 1.25rem),
  strong: Clamp(2.25rem, 10vw + 1rem, 2.25rem),
  small: Clamp(1.5rem, 10vw + 1rem, 1.5rem),
  // small: (
  //   h1: 2.5rem,
  //   h2: 2rem,
  //   h3: 4rem,
  //   h4: 1.2rem,
  //   p: 1.2rem,
  //   a: 1.5rem,
  // ),
  // large: (
  //   h1: 5rem,
  //   h2: 2.5rem,
  //   h3: 5rem,
  //   h4: 2rem,
  //   p: 1.5rem,
  //   a: 1rem,
  // ),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

$weight: (
  primary: (
    300: 300,
  ),
  accent: (
    400: 400,
  ),
);
