$size: (
  h1: Clamp(2.5rem, 5vw + 1rem, 5rem),
  h2: Clamp(0.75rem, 4vw + 1rem, 3.5rem),
  h3: Clamp(2rem, 4vw + 1rem, 3rem),
  p: Clamp(0.75rem, 5vw + 1rem, 1rem),
  a: Clamp(1rem, 10vw + 1rem, 1.25rem),
  button: Clamp(1rem, 5vw + 1rem, 1rem),
  strong: Clamp(1rem, 5vw + 1rem, 1.75rem),
  small: Clamp(0.75rem, 5vw + 1rem, 1rem),
  // small: (
  //   h1: 2.5rem,
  //   h2: 2rem,
  //   h3: 4rem,
  //   h4: 1.2rem,
  //   p: 1.2rem,
  //   a: 1.5rem,
  // ),
  // large: (
  //   h1: 5rem,
  //   h2: 2.5rem,
  //   h3: 5rem,
  //   h4: 2rem,
  //   p: 1.5rem,
  //   a: 1rem,
  // ),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

$weight: (
  primary: (
    300: 300,
  ),
  accent: (
    400: 400,
  ),
);
