@use "./fonts" as *;
@use "./colors" as *;
@use "../abstracts/breakpoints" as b;

// @each $elem, $value in $size {
//   @each $type, $size in $value {
//     @if ($elem == small) {
//       #{$type} {
//         font-size: $size;
//       }
//     } @else if($elem != small) {
//       @include b.breakpoint(#{$elem}) {
//         #{$type} {
//           font-size: $size;
//         }
//       }
//     }
//   }
// }

:root {
  --grid-column: 6;
  --max-container-width: 75rem;
  --grid-gap: 1.25em;
  --flex-gap: 1.5em;
  --spacer-margin: 2em;

  --padding-xs: 0.25em;
  --padding-sm: calc(0.5rem + 2vw);
  --padding-md: calc(1em + 1vw);
  --padding-lg: calc(2rem + 2vw);
  --padding-xl: calc(4em + 2vw);
  --padding-2xl: 8em;

  @each $base, $shade in $colors {
    @each $shades, $colors in $shade {
      --clr-#{$base}-#{$shades}: #{$colors};
    }
  }
  @each $base, $weights in $weight {
    @each $weight, $value in $weights {
      --fw-#{$base}-#{$value}: #{$value};
    }
  }
}
