%btn {
  padding: 0.5em 2.75em;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@mixin btn-red {
  @extend %btn;
  background-color: red;
  color: white;
}

@mixin btn-outline {
  @extend %btn;

  background-color: var(--clr-primary-400);
  color: var(--clr-primary-700);
  outline: 2px solid var(--clr-primary-700);
  transition: background-color 250ms ease-out, color 500ms ease-in;
  &:hover {
    background-color: var(--clr-primary-700);
    color: var(--clr-primary-400);
  }
}
