@use "../abstracts/breakpoints" as *;

.spacer {
  > * + * {
    margin-top: var(--spacer-margin);
  }
}

.grid-container {
  display: grid;
  grid-template-columns:
    Minmax(1rem, 1fr) repeat(
      var(--grid-column),
      Minmax(0, Calc(var(--max-container-width) / var(--grid-column)))
    )
    Minmax(1rem, 1fr);

  > * {
    grid-column: 2 / span var(--grid-column);
  }
}

.grid-col-2 {
  grid-column: 2 / span var(--grid-column);
  display: grid;
  grid-auto-flow: row;
  gap: var(--grid-gap);
  @include breakpoint(large) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-col-3 {
  grid-column: 2 / span var(--grid-column);
  display: grid;
  grid-auto-flow: row;
  gap: var(--grid-gap);
  @include breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-col-4 {
  // grid-column: 2 / span var(--grid-column);
  grid-column: 2 / 8;
  display: grid;
  grid-auto-flow: row;
  gap: var(--grid-gap);
  @include breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-col-4-auto {
  grid-column: 2 / span var(--grid-column);
  display: grid;
  grid-template-columns: repeat(auto-fit, Minmax(10rem, 1fr));
  gap: var(--grid-gap);
}

.grid-col-6 {
  grid-column: 2 / span var(--grid-column);
  display: grid;
  grid-auto-flow: row;
  @include breakpoint(large) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-col-auto {
  grid-column: 2 / span var(--grid-column);
  display: grid;
  grid-template-columns: repeat(auto-fit, Minmax(20rem, 1fr));
  gap: var(--grid-gap);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
  gap: var(--flex-gap);
  @include breakpoint(large) {
    flex-direction: row;
  }
}

.flex-row {
  flex-direction: column;
  gap: var(--flex-gap);
}

.justify-start {
  justify-items: start;
}

.justify-center {
  justify-items: center;
}

.justify-end {
  justify-items: end;
}

@include breakpoint(large) {
  .justify-space-between {
    justify-content: space-between;
  }
}

.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-self-start {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.px-xs {
  padding-inline: var(--padding-xs);
}
.px-sm {
  padding-inline: var(--padding-sm);
}
.px-md {
  padding-inline: var(--padding-md);
}
.px-lg {
  padding-inline: var(--padding-lg);
}
.px-xl {
  padding-inline: var(--padding-xl);
}

.py-xs {
  padding-block: var(--padding-xs);
}
.py-sm {
  padding-block: var(--padding-sm);
}
.py-md {
  padding-block: var(--padding-md);
}
.py-lg {
  padding-block: var(--padding-lg);
}
.py-xl {
  padding-block: var(--padding-xl);
}

.py-2xl {
  padding-block: var(--padding-2xl);
}
